<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Gilt-trest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- <link rel="stylesheet" media="screen" href="dist/css/gh_pages.css"> -->
    <link rel="stylesheet" media="screen" href="assets/dist/css/gilt-trest.css">
    <script src="assets/dist/js/gilt-trest.browserified.full.js"></script>
  </head>
  <body>
    Hey Everybody!
    <div ng-app="gilt-trest" class="container-fluid">
      <div ng-view></div>
    </div>
  </body>
</html>
